.button {
    border:1px solid black;
    box-shadow: none;
    height: 30px;
    min-width: 70px;
    color: white;
}

.button-blue {
    background-color: dodgerblue;
    color: black;
}

.button-red {
    background-color: red;
}

.button-black {
    background-color: #282c34;
}