.editor-items-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.editor-fields{
    height: 100%;
}


.editor-item {
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    font-size: 15px;
    line-height: 34px;
}

.horizontal-space {
    flex-grow: 1;
}

.editor-buttons-container {
    display: flex;
    flex-direction: row;
}